<div>
    <h2>Add a Movie</h2>

    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" name="title" formControlName="title" class="form-control"/>
            <div *ngIf="title != null && !title.valid && (title.dirty || title.touched)">
                <div [hidden]="!title.errors?.['required']">
                    Title is required
                </div>
                <div [hidden]="!title.errors?.['maxlength']">
                    Title must be less than 100 characters
                </div>
            </div>
        </div>

        <div>
            <label for="director" class="form-label">Director</label>
            <input type="text" id="director" name="director" formControlName="director" class="form-control"/>
            <!-- <div>
                <div [hidden]="!director.errors?.['required']">
                    Director is required
                </div>
            </div> -->
        </div>

        <div>
            <label for="genre" class="form-label">Genre</label>
            <input type="text" id="genre" name="genre" formControlName="genre" class="form-control"/>
            <!-- <div>
                <div [hidden]="!genre.errors?.['required']">
                    Genre is required
                </div>
            </div> -->
        </div>

        <div>
            <label for="releaseYear" class="form-label">Release Year</label>
            <input type="number" id="releaseYear" name="releaseYear" formControlName="releaseYear" class="form-control" min="1970" step="10"/>
            <!-- <div>
                <div [hidden]="!releaseYear.errors?.['required']">
                    Release Year is required
                </div>
                <div [hidden]="!releaseYear.errors?.['min']">
                    Year must be newer than 1970
                </div>
            </div> -->
        </div>

        <!-- actors -->
        <div formArrayName="actors">
            <h2>Actors</h2>
            <button type="button" class="btn btn-primary" (click)="addActor()">+ Add Actor</button>

            <div *ngFor="let actor of actors.controls; let i = index">
                <label for="actor-{{ i }}" class="form-label">Actor:</label>
                <input id="actor-{{ i }}" type="text" class="form-control" [formControlName]="i" />
            </div>
        </div>

        <div style="margin-top: 5px;">
            <button type="submit" [disabled]="!movieForm.valid" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
<div>
    
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
</div>
<div>
    {{ movieForm.value | json }}
</div>