<!-- 
    everything is a component
    these html pages live inside an html page
    it's assumed that there are html tags already, those live on index.html
-->

<div id="movie-list">
    <h2>View All Movies</h2>

    <a routerLink="/movies/comedy">Comedy</a> |  <a routerLink="/movies/drama">Drama</a> |  <a routerLink="/movies/action">Action</a> 

    <table class="table table-bordered table-striped table-hover table-dark">
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Release Year</th>
                <th>Genre</th>
            </tr>
        </thead>
        
        <tbody>
            <!-- <tr>
                <td>Titanic</td>
                <td>James Cameron</td>
            </tr>
            <tr>
                <td>The Incredibles</td>
                <td>Brad Bird</td>
            </tr>
            <tr>
                <td>The Matrix</td>
                <td>Lana Wachowski</td>
            </tr> -->
            <tr *ngFor="let movie of movieList">
                <td>{{ movie.title }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.releaseYear }}</td>
                <td><a routerLink="/movies/{{movie.genre}}">{{ movie.genre }}</a></td> <!-- TODO make this cell clickable to load the genre page -->
            </tr>
        </tbody>

    </table>

    
    <div class="alert alert-danger" *ngIf="errorMessage" >
        {{ errorMessage }}
    </div>

</div>
