<!-- 
    everything is a component
    these html pages live inside an html page
    it's assumed that there are html tags already, those live on index.html
-->

<div id="movie-list">
    <h2>View All Movies</h2>

    <table class="table table-bordered table-striped table-hover table-dark">
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Release Year</th>
                <th>Genre</th>
            </tr>
        </thead>
        
        <tbody>
            <!-- <tr>
                <td>Titanic</td>
                <td>James Cameron</td>
            </tr>
            <tr>
                <td>The Incredibles</td>
                <td>Brad Bird</td>
            </tr>
            <tr>
                <td>The Matrix</td>
                <td>Lana Wachowski</td>
            </tr> -->
            <tr *ngFor="let movie of movieList">
                <td>{{ movie.title }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.releaseYear }}</td>
                <td>{{ movie.genre }}</td>
            </tr>
        </tbody>

    </table>
</div>
